.row-header{
  margin:0px auto;
  padding:0px auto;
}

.i 
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  color: black;
  background-color: #d4d4d4;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #363636 ;
  color:rgb(255, 255, 255);
}


address{
  color: black;
  font-size:80%;
  margin:0px;
}

.navbar-dark {
  background-color: #000000;
}
